.container {
  max-width: calc(1024px + var(--spacing-unit) * 2);
  padding: var(--spacing-unit);
  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 50px;
  height: 100%;
}

@media (max-width: 705px) {
  .wrapper {
    height: auto;
  }
}