:root {
  --spacing-unit: 8px;
  --bg-color: #F6F6FD;
  --gray: #807F80;
  --light-gray: #F5F5F5;
  --blue: #0388D1;
  --light-blue: #E0F5FE;

  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html {
  font-size: 10px;
}

body {
  background: var(--bg-color);
  font-family: sans-serif;
  font-size: 1.6rem;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}